extends ./includes/main.pug

block vars
  - var path='Andover Joins the March'

block header
  - var header1 = 'Andover Joins the March'
  - var caption = 'A day after the inauguration of the 45th President of the United States, Donald Trump, millions of women marched around the world in support of equal rights for all.'
  - var sub1 = 'By Alexandra LeBaron <br>Photo: Courtesy of Aya Murata.'
  - var image = 'march/a.murata.header.jpg'
  include includes/header.pug

block social
  - var title = 'The Phillipian — Andover Joins the Women\'s March'
  - var description = 'A day after the inauguration of the 45th President of the United States, Donald Trump, millions of women marched around the world in support of equal rights for all.'

  meta(charset='UTF-8')
  meta(name='description', content=description)
  meta(name='keywords', content='the phillipian, phillipian, phillips academy, andover, pa, student journalism, newspaper, data, state of the acadmy, andover, exeter')
  // Open Graph data
  meta(property='og:url', content='http://womensmarch.phillipian.net')
  meta(property='og:title', content=title)
  meta(property='og:description', content=description)
  meta(property='og:image', content='http://womensmarch.phillipian.net/assets/images/social/facebook.card.png')
  // Twitter data
  meta(name='twitter:card', content='summary_large_image')
  meta(name='twitter:site', content='@phillipian')
  meta(name='twitter:title', content=title)
  meta(name='twitter:description', content=description)
  meta(name='twitter:image', content='http://womensmarch.phillipian.net/assets/images/social/twitter.card.png')
  // Google Plus data
  meta(itemscope='', itemtype='https://schema.org/WebSite')
  meta(itemprop='name', content=title)
  meta(itemprop='description', content=description)
  meta(itemprop='image', content='http://womensmarch.phillipian.net/assets/images/social/facebook.card.png')

block content
  include articles/story.pug
  include articles/narratives.pug

block scripts
  script(src='https://code.jquery.com/jquery-3.1.1.min.js', integrity='sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=', crossorigin='anonymous')
  script(type='text/javascript', src='http://vjs.zencdn.net/5.12.6/video.js')

  script(type='text/javascript').
    console.log('test');
    $(window).on('scroll', function() {
      var scroll = $(window).scrollTop();
      console.log(scroll);
      if (scroll >= $('header').height()) {
        $('nav').addClass('visible');
      }
      else {
        $('nav').removeClass('visible');
      }
    });
